body{
    font-family: Verdana,Geneva,Arial,sans-serif;
    font-size: small;
    background: lightyellow;
}
h1,h2{
    font-weight: normal;
    color: #cc6600;
    border-bottom: thin dotted #888888;
    text-align: center;
}
h1{
    font-size: 170%;
}
h2{
    font-size: 130%;
}

table{
    margin-left: 20px;
    margin-right: 20px;
    border: thin solid black;
}
td,th{
    border: thin dotted grey;
    padding: 5px;
    color: black;
    width: 200px;
    height: 50px;
}
caption{
    font-style: italic;
    padding-top: 20px;
    border: thin solid black;
}